{{#unless access}}

<aside class="gh-post-upgrade-cta bg-bgr-tone border border-brd-soft border-t-3 border-t-typ text-typ mt-8 max-w-150 mx-auto z-1">
  <div class="gh-post-upgrade-cta-content">

    {{!-- Título dinâmico respeitando page/post --}}
    <h2 class="text-typ! text-balance">
      
      {{!-- NÃO LOGADO --}}
      {{#unless @member}}

        {{#has visibility="members"}}
          {{#is "page"}}
            {{t "This page is for subscribers only"}}
          {{else}}
            {{t "This post is for subscribers only"}}
          {{/is}}
        {{else}}
          {{#is "page"}}
            {{t "This page is for paying subscribers only"}}
          {{else}}
            {{t "This post is for paying subscribers only"}}
          {{/is}}
        {{/has}}

      {{!-- LOGADO --}}
      {{else}}

        {{!-- Logado FREE --}}
        {{#unless @member.paid}}

          {{#is "page"}}
            {{t "This page is for paying subscribers only"}}
          {{else}}
            {{t "This post is for paying subscribers only"}}
          {{/is}}

        {{!-- Logado PAID mas sem tier suficiente --}}
        {{else}}

          {{t "Upgrade to access this content"}}

        {{/unless}}

      {{/unless}}

    </h2>

    {{!-- USUÁRIO NÃO LOGADO --}}
    {{#unless @member}}

      {{#has visibility="members"}}
        <a class="kg-button gh-btn rounded-btn! bg-brand! text-brand-contrast! hover:brightness-110 font-medium!"
           href="/membership/">
           {{t "Subscribe now free"}}
        </a>
      {{else}}
        <a class="kg-button gh-btn rounded-btn! bg-brand! text-brand-contrast! hover:brightness-110 font-medium!"
           href="/membership/">
           {{t "Subscribe now paid"}}
        </a>
      {{/has}}

      <p class="text-typ">
        <small>
          {{t "Already have an account?"}}
          <a class="kg-link text-typ! hover:text-brand! hover:opacity-100! decoration-2! underline-offset-2!"
             href="/signin/">
            {{t "Sign in"}}
          </a>
        </small>
      </p>

    {{!-- USUÁRIO LOGADO MAS SEM ACESSO --}}
    {{else}}

      {{!-- Logado FREE --}}
      {{#unless @member.paid}}

        <a class="kg-button gh-btn rounded-btn! bg-brand! text-brand-contrast! hover:brightness-110 font-medium!"
           href="/membership/">
           {{t "Subscribe now paid"}}
        </a>

      {{!-- Logado PAID mas sem tier suficiente --}}
      {{else}}

        <a class="kg-button gh-btn rounded-btn! bg-brand! text-brand-contrast! hover:brightness-110 font-medium!"
           href="/membership/">
           {{t "Upgrade now"}}
        </a>

      {{/unless}}

    {{/unless}}

  </div>
</aside>

{{/unless}}